<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.sina.lagnxiaohua</string>
	<key>version</key>
	<real>2</real>
	<key>group_name_cn</key>
	<string>浪小花</string>
	<key>group_name_tw</key>
	<string>浪小花</string>
	<key>group_name_en</key>
	<string>Huahua</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[em_01]</string>
			<key>cht</key>
			<string>[em_01]</string>
			<key>png</key>
			<string>smiley_0.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[em_02]</string>
			<key>cht</key>
			<string>[em_02]</string>
			<key>png</key>
			<string>smiley_1.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[噢耶]</string>
			<key>cht</key>
			<string>[噢耶]</string>
			<key>gif</key>
			<string>lxh_oye.gif</string>
			<key>png</key>
			<string>lxh_oye.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[偷乐]</string>
			<key>cht</key>
			<string>[偷樂]</string>
			<key>gif</key>
			<string>lxh_toule.gif</string>
			<key>png</key>
			<string>lxh_toule.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[泪流满面]</string>
			<key>cht</key>
			<string>[淚流滿面]</string>
			<key>gif</key>
			<string>lxh_leiliumanmian.gif</string>
			<key>png</key>
			<string>lxh_leiliumanmian.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[巨汗]</string>
			<key>cht</key>
			<string>[巨汗]</string>
			<key>gif</key>
			<string>lxh_juhan.gif</string>
			<key>png</key>
			<string>lxh_juhan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抠鼻屎]</string>
			<key>cht</key>
			<string>[摳鼻屎]</string>
			<key>gif</key>
			<string>lxh_koubishi.gif</string>
			<key>png</key>
			<string>lxh_koubishi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[求关注]</string>
			<key>cht</key>
			<string>[求關注]</string>
			<key>gif</key>
			<string>lxh_qiuguanzhu.gif</string>
			<key>png</key>
			<string>lxh_qiuguanzhu.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[好喜欢]</string>
			<key>cht</key>
			<string>[好喜歡]</string>
			<key>gif</key>
			<string>lxh_haoxihuan.gif</string>
			<key>png</key>
			<string>lxh_haoxihuan.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[崩溃]</string>
			<key>cht</key>
			<string>[崩潰]</string>
			<key>gif</key>
			<string>lxh_bengkui.gif</string>
			<key>png</key>
			<string>lxh_bengkui.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[好囧]</string>
			<key>cht</key>
			<string>[好冏]</string>
			<key>gif</key>
			<string>lxh_haojiong.gif</string>
			<key>png</key>
			<string>lxh_haojiong.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[震惊]</string>
			<key>cht</key>
			<string>[震驚]</string>
			<key>gif</key>
			<string>lxh_zhenjing.gif</string>
			<key>png</key>
			<string>lxh_zhenjing.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[别烦我]</string>
			<key>cht</key>
			<string>[別煩我]</string>
			<key>gif</key>
			<string>lxh_biefanwo.gif</string>
			<key>png</key>
			<string>lxh_biefanwo.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[不好意思]</string>
			<key>cht</key>
			<string>[不好意思]</string>
			<key>gif</key>
			<string>lxh_buhaoyisi.gif</string>
			<key>png</key>
			<string>lxh_buhaoyisi.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[羞嗒嗒]</string>
			<key>cht</key>
			<string>[羞嗒嗒]</string>
			<key>gif</key>
			<string>lxh_xiudada.gif</string>
			<key>png</key>
			<string>lxh_xiudada.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[得意地笑]</string>
			<key>cht</key>
			<string>[得意地笑]</string>
			<key>gif</key>
			<string>lxh_deyidexiao.gif</string>
			<key>png</key>
			<string>lxh_deyidexiao.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[纠结]</string>
			<key>cht</key>
			<string>[糾結]</string>
			<key>gif</key>
			<string>lxh_jiujie.gif</string>
			<key>png</key>
			<string>lxh_jiujie.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[给劲]</string>
			<key>cht</key>
			<string>[給勁]</string>
			<key>gif</key>
			<string>lxh_geijin.gif</string>
			<key>png</key>
			<string>lxh_geijin.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[悲催]</string>
			<key>cht</key>
			<string>[悲催]</string>
			<key>gif</key>
			<string>lxh_beicui.gif</string>
			<key>png</key>
			<string>lxh_beicui.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[甩甩手]</string>
			<key>cht</key>
			<string>[甩甩手]</string>
			<key>gif</key>
			<string>lxh_shuaishuaishou.gif</string>
			<key>png</key>
			<string>lxh_shuaishuaishou.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
